.container {
    border: 2px solid red;
    width: 500px;
    height: 500px;
    /* overflow: scroll; */
    overflow: auto;
}

.container2{
    border: 2px solid green;
    overflow: auto;
}

.box{
    border: 2px solid blue;
    overflow: auto;
}

.img1 {
    float: right;
}

.img2{
    float: left;
}